In [ ]:
#Q.05-03
def bubblesort(S):
    contador=(0)
    n=len(S)
    for i in range(n):
        print(S)
        for j in range(n-1):
            if S[j]>S[j + 1]:
                contador=contador+1
                S[j], S[j + 1]=S[j + 1],S[j]
S = [50, 30, 40, 10, 20]
bubblesort(S)

In [ ]:
#Q.05-03 Demostracion manual
S = [50, 30, 40, 10, 20]
print(S)
S[0], S[0 + 1]=S[0 + 1],S[0]
S[1], S[1 + 1]=S[1 + 1],S[1]
S[2], S[2 + 1]=S[2 + 1],S[2]
S[3], S[3 + 1]=S[3 + 1],S[3]
print(S)
S[1], S[1 + 1]=S[1 + 1],S[1]
S[2], S[2 + 1]=S[2 + 1],S[2]
print(S)
S[0], S[0 + 1]=S[0 + 1],S[0]
S[1], S[1 + 1]=S[1 + 1],S[1]
print(S)

In [ ]:
#Q. 05-02
def insertionsort2(S):
    contador=(0)
    n = len(S)
    for i in range(1, n):
        x = S[i]
        j = i - 1
        print("El contador {}   La condicion {} y {}>{}".format(contador,j,S[j],x))
        while j>= 0 and S[j] > x:
            S[j + 1] = S[j]
            j-= 1
        S[j + 1] = x
        contador=contador+1
S=[50, 30, 40, 10, 20]
insertionsort2(S)

In [ ]:
#Q.05-03
S = [12, 11, 13, 5, 6, 7]
a=(int(len(S)))
for x in range (a-1):
    print(x)

In [ ]:
#Q.06-01. 
def factorial(n):
    if n == 0:
        return 1
    return n * factorial(n-1)
factorial(5)

In [ ]:
#Q.06-02. 
factorial_memo ={}
def factorial(k):
    if k < 2: return 1
    if k  not in factorial_memo:
        factorial_memo[k] = k * factorial(k-1)
    return factorial_memo[k]
factorial(5)

In [ ]:
#comprobando que hace not in >;V
S = [12, 11, 13, 5, 6, 7]
print(12 not in S)

In [ ]:
#Q.06-03. 
def a(n):
    if n > 1:
        return a(n-1) + a(n-2)
    return n

for x in range(10):
    print("Segun la secuencia de Fibonacci  a{} es {}".format(x,a(x)))

In [ ]:
#Q. 07-01. 
import pandas as pd
d_dict={"col1":[1,2],"col2":[3,4], "col3":[5,6],"col4":[7,8]}
d_dataframe=pd.DataFrame.from_dict(d_dict)
d_dataframe

In [ ]:
#Q.07-02. 
import pandas as pd
d_dict={"col1":[1,2],"col2":[3,4], "col3":[5,6],"col4":[7,8]}
d_dataframe=pd.DataFrame.from_dict(d_dict)
new_df=pd.DataFrame(d_dataframe["col4"])
new_df

In [34]:
#Q.07-03.
import pandas as pd
d_dict={"col1":[1,2],"col2":[3,4], "col3":[5,6],"col4":[7,8]}
d_dataframe=pd.DataFrame(d_dict,index=["Primero","Segundo"])
d_dataframe

         col1  col2  col3  col4
Primero     1     3     5     7
Segundo     2     4     6     8

In [ ]:
import pandas as pd
d_dict={"col1":[1,2],"col2":[3,4], "col3":[5,6],"col4":[7,8]}
d_dataframe=pd.DataFrame.from_dict(d_dict)
print(d_dataframe["col1"][0])
print(d_dataframe["col4"][1])

In [1]:
#Q. 07-04.
""" Buenas profe espero haber entendido bien el problema"""
import pandas as pd
d_dict={"col1":[1,2],"col2":[3,4], "col3":[5,6],"col4":[7,8],"col4":[]}
def valorvacio(diccionario):
    """tranforma la data en data frame y la filtra asignando el valor "none" a valores vacios y
    imprime en pantalla que keys tenian valores vacios"""
    keys=(list(diccionario.keys()))
    cantidad_de_keys=(len(keys))
    for x in range(cantidad_de_keys):
        valor_de_la_key=(len(diccionario[keys[x]]))
        if valor_de_la_key == 0:
            diccionario[keys[x]]="none"
    for i in range (cantidad_de_keys):
        comprobacion="none" in diccionario[keys[i]]
        print("El Valor De {} Es {}\n".format(keys[i],comprobacion))
    return diccionario
d_dataframe=pd.DataFrame(valorvacio(d_dict))
d_dataframe

El Valor De col1 Es False

El Valor De col2 Es False

El Valor De col3 Es False

El Valor De col4 Es True

   col1  col2  col3  col4
0     1     3     5  none
1     2     4     6  none

In [1]:
#Q. 07-04.
""" Buenas profe espero haber entendido bien el problema"""
import pandas as pd
d_dict={"col1":[1,2],"col2":[3,4], "col3":[5,6],"col4":[7,8],"col4":[7,8]}
def valorvacio(diccionario):
    """tranforma la data en data frame y la filtra asignando el valor "none" a valores vacios y
    imprime en pantalla que keys tenian valores vacios"""
    keys=(list(diccionario.keys()))
    cantidad_de_keys=(len(keys))
    for x in range(cantidad_de_keys):
        valor_de_la_key=(len(diccionario[keys[x]]))
        if valor_de_la_key == 0:
            diccionario[keys[x]]="0"
    for i in range (cantidad_de_keys):
        comprobacion="none" in diccionario[keys[i]]
        print("El Valor De {} Es {}\n".format(keys[i],comprobacion))
    return diccionario
d_dataframe=pd.DataFrame(valorvacio(d_dict))
full=pd.DataFrame(d_dataframe.std())
print(d_dataframe)
print("\nLa Desviasion Estandar ES:\n{},\nLa Media Es:\n{},\nEl Valor Minimo Es\n{},\nEl Valor Maximo Es\n{}."
      .format(d_dataframe.std(),d_dataframe.mean(),d_dataframe.min(),d_dataframe.max()))
print(full)

El Valor De col1 Es False

El Valor De col2 Es False

El Valor De col3 Es False

El Valor De col4 Es False

   col1  col2  col3  col4
0     1     3     5     7
1     2     4     6     8

La Desviasion Estandar ES:
col1    0.707107
col2    0.707107
col3    0.707107
col4    0.707107
dtype: float64,
La Media Es:
col1    1.5
col2    3.5
col3    5.5
col4    7.5
dtype: float64,
El Valor Minimo Es
col1    1
col2    3
col3    5
col4    7
dtype: int64,
El Valor Maximo Es
col1    2
col2    4
col3    6
col4    8
dtype: int64.
             0
col1  0.707107
col2  0.707107
col3  0.707107
col4  0.707107